body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

#login {
  margin-top: 120px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  background: #c62828;
  color: white;
  border: none;
  border-radius: 5px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  max-width: 700px;
  margin: 30px auto;
}

.day {
  background: #c62828;
  padding: 30px 0;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}

.locked {
  background: #444;
  opacity: 0.5;
  cursor: not-allowed;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: #1e1e1e;
  padding: 30px;
  margin: 20% auto;
  width: 80%;
  max-width: 400px;
  border-radius: 12px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}
