/* ===== CALENDAR LAYOUT ===== */
.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  max-width: 700px;
  margin: 30px auto;
}

.day {
  background: #c62828;
  color: white;
  padding: 30px 0;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.locked {
  background: #444;
  opacity: 0.5;
  cursor: not-allowed;
}
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 999;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #1e1e1e;
  width: 90%;
  max-width: 420px;
  max-height: 85vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 12px;
  position: relative;
}

/* IMAGE / VIDEO */
.modal img,
.modal video {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-bottom: 15px;
}

/* CLOSE BUTTON */
.close {
  position: sticky;
  top: 0;
  float: right;
  font-size: 26px;
  cursor: pointer;
  z-index: 1000;
  background: #1e1e1e;
}
