body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* LOGIN */
#login {
  margin-top: 100px;
}

/* CALENDAR */
.calendar {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 500px;
  margin: 40px auto;
}

.day {
  background: #c62828;
  padding: 25px 0;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.modal-content {
  background: #1e1e1e;
  width: 90%;
  max-width: 420px;
  max-height: 80vh;
  margin: 10vh auto;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  position: relative;
}

/* CLOSE */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* MEDIA */
.modal img {
  width: 100%;
  max-height: 45vh;
  object-fit: contain;
  margin-bottom: 12px;
}

/* BUTTONS */
button {
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.music-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 16px;
  background: #fa243c;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
