body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* LOGIN */
#login {
  margin-top: 100px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* CALENDAR */
.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 500px;
  margin: 40px auto;
}

.day {
  background: #c62828;
  padding: 25px 0;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
}

.locked {
  background: #444;
  opacity: 0.5;
  cursor: not-allowed;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #1e1e1e;
  width: 90%;
  max-width: 420px;
  max-height: 85vh;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  position: relative;
}

/* CLOSE */
.close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: black;
  color: white;
  border: none;
  z-index: 10000;
}

/* MEDIA */
.modal img {
  width: 100%;
  max-height: 45vh;
  object-fit: contain;
  margin-bottom: 12px;
}

/* MUSIC BUTTON */
.music-btn {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 16px;
  background: #fa243c;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}
